{% extends "authentication_base.html" %}

{% block title %}signup{% endblock title %}
{% block css %} <link rel="stylesheet" href="/static/css/signup.css"> {% endblock css %}
{% block pages %}
<div class="signup_body">
    <div class="signup_form">
        <!-- signup form container -->
        <form action="/auth/signup-url" method="post">
            {% csrf_token %}
            <h3 style="font-size: 30px; color: #FFAC1C;"><b>Signup</b></h3>
            <div class="signup_option">
            </div>
            <!-- Username input box -->
            <div class="input_box">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter Username" required />
            </div>
            <!-- Email input box -->
            <div class="input_box">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email address" required />
            </div>
            <!-- Fisrt name input box -->
            <div class="input_box">
                <label>First Name</label>
                <input type="text" name="f_name" placeholder="Enter First Name" required />
            </div>
            <!-- Last Name input box -->
            <div class="input_box">
                <label>Last Name</label>
                <input type="text" name="l_name" placeholder="Enter Last Name" required />
            </div>
            <!-- Paswwrod input box -->
            <div class="input_box">
                <div class="password_title">
                <label>Password</label>
                </div>
                <input type="password" name="password" placeholder="Enter your password" required />
            </div>
            <!-- signup button -->
            <button type="submit">Sign Up</button>
            <p class="sign_up">Don't have an account? <a style="color: #FFAC1C;" href="/auth/signup">Login</a></p>
        </form>
    </div>
</div>
{% endblock pages %}